<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <th scope="row" th:text="${game.id}"></th>
            <td th:text="${game.title}">Mark</td>
            <td th:text="${game.price}">Mark</td>
            <td th:text="${game.category}">Mark</td>
            <td><a class="btn btn-success btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a>
            <td><a class="btn btn-success btn-sm btn-danger" th:href="'/games/delete/'+${game.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>

