<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
</head>
<body>
<header th:replace="fragments/header"></header>

<section class="container">



    <h1 th:text="${title}"></h1>
    <ul class="gama-filters" sec:authorize="isAuthenticated()">
        <li><a href="/games/">All</a></li>
        <li th:each="category: ${categories}">
            <a th:href="${'/games?category='+category.name}"
               th:text="${category.name}">
            </a>
        </li>
    </ul>
    <div class="game-list">
        <div class="game" th:each="game: ${games}">
            <div class="img-container">
                <img th:src="${game.coverImage}">
            </div>
            <div class="info">
                <div th:text="${game.title}"></div>
                <div th:text="${game.price}"></div>
                <div th:text="${game.category}"></div>
            </div>
            <div class="buttons" sec:authorize="isAuthenticated()">
                <a class="btn btn-success btn-sm" th:href="'/games/'+${game.id} + '/edit'">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="'/games/'+${game.id}+'/delete'">Delete</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
